html{
font-family: 'Calibri', 'newCalibri', 'Arial';
}
body{
background: #090909 url(../images/bg.jpg) no-repeat;
background-position: top;
    margin:0px;
    padding:0px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#header{
 position: relative;
 width: 1000px;
 height: 100px;
 margin: 0px auto;
    margin-top:0px;
    margin-bottom:120px;
}
#user-info{
    float: right;

    border: 1px solid #383838;
    width: 245px;
    height: 35px;
    padding: 15px;
    background: #101010;
    text-align: center;
    color: #ECE7E0;

    margin-right: 3px;
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
    overflow: hidden;
    z-index:999;
}
#menu{
 position: relative;
 width: 1000px;
 height: 50px;
 margin: 30px auto;
 background: #202020 url("../images/newsheader.png");
 box-shadow:  0px 3px 8px #000;
 border: 1px solid #383838;
    border-bottom-left-radius: 360px;
    border-bottom-right-radius: 360px;

}
#menu-block{
width: 1000px;
height:50px;
overflow: hidden;
 display: inline-block;
 vertical-align:top;
}
#deletecomm{
width: 5px;
height: 7px;
border-radius: 25px;
background: #FF0000;
border: none;
}
#deletecomm:hover{
 box-shadow: 3px 3px 2px #303030 inset, 0px 3px 4px #000; 
 cursor:pointer;
}
 .miniinfo{
 background-color:rgba(0, 0, 0, 0.7);
 border: 1px solid #C0C0C0 ;
 border-radius: 5px;
 float:left;
 margin-right: 3px;
 padding:5px;
 color: #CCCC00;
}
.menu-item{
    font-weight: 900;
    font-size: 14px;
    color: #7CBD68;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    vertical-align: top;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-item-box{
float:left;
}
.menu-ent{
  font-size: 8px;
  margin-top: -8px;
  float: right;
  padding: 1px;
  background: #741A05;
  box-shadow: 1px 1px 2px #282828 inset;
  border: 1px solid #B82603;
  border-radius: 5px;
  color: #CBAEAE; 
}
.menu-inf{
  font-size: 8px;
  margin-top: -8px;
  float: right;
  padding: 1px;
  background: #0C7405;
  box-shadow: 1px 1px 2px #282828 inset;
  border: 1px solid #167B06;
  border-radius: 5px;
  color: #CBAEAE;
 }
.menu-item:hover{
 color: #f0f0f0;
 box-shadow: 3px 3px 15px #000 inset;
 }
.menu-item a:link 		{color:#B0B0B0;  text-shadow:5px 5px 10px black;}
.menu-item a:visited 	{color:#B0B0B0;  text-shadow:5px 5px 10px black;}
.menu-item a:hover 		{color:#000;  text-shadow:5px 5px 10px black;}
.menu-item a:active 	       {color:#B0B0B0;  text-shadow:5px 5px 10px black;}

#content{
 position: relative;
 width: 1000px;
 margin: 30px auto;
}
#content-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 1000px;
    background: #202020;
    min-height: 35px;
    margin: auto;
    /* padding: 15px; */
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    margin-bottom: 15px;
    border-radius: 3px
}
.content-wrapper-title{
color:#a3620a;
 font-size:24px;
 font-weight:bold;
 }
#vote-links-box{
 width: 99%;
 background: #282828 ;
 margin:auto;
 padding: 5px;
 border: 1px solid #383838;
 margin-bottom: 15px;
 margin-top: 15px;
 display: inline-block;
 vertical-align:top;
}
.vote-box{
    width: 145px;
    height: 140px;
    padding: 15px;
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    overflow: hidden;
    margin-left: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.vote-image	{width:88px;height:51px;box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; overflow:hidden;}
.name-box	{width:100%;height:20px;background:#101010;border: 1px solid #383838;color: #f0f0f0;margin-top:2px;margin-bottom:6px;padding-top:4px;}
.points-box	{width:100%;height:20px;background:#101010;border: 1px solid #383838;color: #f0f0f0;margin-top:5px;padding-top:4px;}
.time-rem	{width:100%;height:20px;background:#101010;border: 1px solid #383838;color: #f0f0f0;margin-top:2px;padding-top:4px;}

#vote-alts-box{
 width: 99%;
 background: #282828 ;
 margin:auto;
 padding: 5px;
 border: 1px solid #383838;
 margin-bottom: 15px;
 margin-top: 15px;
 display: inline-block;
 vertical-align:top;
}
.vote-alts-part{
 width: 260px;
 margin:auto;
 padding: 15px;
 margin-left: 19px;
 margin-bottom: 5px;
 display: inline-block;vertical-align:top;
 }
 .vote-alts-part-sec{
 width: 580px;
 margin:auto;
 padding: 15px;
 margin-left: 19px;
 margin-bottom: 5px;
 display: inline-block;vertical-align:top;
 }
 .vote-alts-part-title {
 color:#a3620a;
 font-size:16px;
 font-weight:bold;
 }
 .top-voters-ladder-box{
width: 95%;
height: 17px;
background: #181818;
display: inline-block;
vertical-align:top;
border: 1px solid #585858;
margin-top:-1px;
padding: 5px;
color:#a3620a;
font-size:13px;
}
.conguid{
    border: 1px solid #373738;
    width: 260px;
    margin-left: -10px;
    height: 67px;
    background: #313131 url('../images/congd.png');
    margin-top: 4px;
    margin-bottom: 10px;
    color: #fff;
}
.conguid:hover{
 box-shadow: 3px 3px 60px #101010 inset; 
 cursor:pointer;
}

.top-voters-ladder-box:hover{
background: #383838;
}
#content-left{
 width: 280px;
 display: inline-block;
 vertical-align:top;
 
}
#index-content-left{
    width: 690px;
    display: inline-block;
    vertical-align:top;

}
.left-box{
    background: #202020 url("../images/hoverblack.png");
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #383838;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border-radius: 3px;
 }
 #right-headslider{
display: inline-block;
 vertical-align: top;
 width: 695px;
 height: 230px;
 background: #202020;
 margin: auto;
 margin-bottom: 15px;
 box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
 border: 1px solid #383838;
 }

#right-headslider:hover{
	 box-shadow: 3px 3px 60px #101010 inset; 
 }
 .slidercaption{border-top: 1px solid #383838;position:absolute;z-index:100;height:30px; background: rgba(0,0,0,0.5);width:685px;margin-top:190px;overflow:hidden;padding:5px;
 -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;}
  .slidercaption:hover{
	height:80px;
	margin-top:139px;
	background: rgba(0,0,0,0.8)
}
 #index-content-right{
     width: 280px;
     display: inline-block;
     vertical-align: top;
     margin-left: 25px;
}

#main-tools{
 display: inline-block;
 vertical-align: top;
 width: 690px;
 margin: auto;
 margin-bottom: 15px;
 }
#main-tools ul{
    list-style-image: url("../images/liarrow.png");
}

.main-tools-box{
    display: inline-block;
    vertical-align: top;
    width: 650px;
    height: 200px;
    padding: 20px;
    margin: auto;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    background: #202020 url("../images/head-r.jpg");
    border-radius: 3px;
    border: 1px solid #383838;
    overflow: hidden;
}

.main-tools-head-text{
    font-size: 32px;
    color: #6DBD68;
    width: 100%;
    text-shadow: 0px 3px 8px #000;
    margin-bottom: 15px;
    font-weight: 500;
}
.main-tools-description{
    font-size: 16px;
    color: #3EA237;
    width: 420px;
    text-shadow: 0px 3px 8px #000;
    margin-bottom: 10px;
  }
.main-tools-li{
    background-position-x: -2px;
    font-size: 16px;
    color: #3EA237;
    text-shadow: 0px 3px 8px #000;
}
.main-tools-li a:link 		{color:#3EA237;  text-shadow:0px 3px 8px black;}
.main-tools-li a:visited 	{color:#3EA237;  text-shadow:0px 3px 8px black;}
.main-tools-li a:hover 		{color:#A7D6A3;  text-shadow:0px 3px 8px black;}
.main-tools-li a:active 	{color:#3EA237;  text-shadow:0px 3px 8px black;}

 #lastbugreports{
display: inline-block;
 vertical-align: top;
 width: 695px;
 height: 230px;
 background: #202020;
 margin: auto;
 margin-bottom: 15px;
 box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
 border: 1px solid #383838;
 }

 .index-title{
color: #b0b0b0;
margin-top: 2px;
margin-bottom: 2px;
font-size:16px;
}
.left-box-title{
color: #fff;
margin-bottom: 15px;
}
.right-box-title{
color: #fff;
margin-bottom: 2px;
margin-top: 15px;
}
.box-divider{
width: 100%;
height: 1px;
background: #585858;
float:left;
margin-bottom: 15px;
display: inline-block;
vertical-align: top;
}
.usrinput{
    border: 1px solid #383838;
    width: 240px;
    height: 30px;
    background: rgba(32, 32, 32, 0.38);
    margin-top: -10px;
    text-align: center;
    color: #b0b0b0;
    float: left;
    margin-left: 4px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#usricn{
    border: 1px solid #383838;
    width: 32px;
    height: 32px;
    background: #101010;
    margin-top: -10px;
    margin-bottom:15px;
    text-align: center;
    color: #b0b0b0;
    float: left;
    border-radius: 360px;
    overflow: hidden;
    box-shadow: 0px 3px 3px #ff0;
}
#submit{
    border: 1px solid #383838;
    width: 250px;
    height: 33px;
    /* padding-top: 1px; */
    background: url("../images/submit.png");
    margin-top: 15px;
    color: #6CA29B;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0px 3px 8px #000;
}
#submit:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}

.submit-submenu{
    border: 1px solid #383838;
    width: 248px;
    height: 25px;
    padding-top: 5px;
    background: url("../images/submit.png");
    margin-top: 4px;
    color: #6CA29B;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0px 3px 8px #000;
}
.submit-submenu:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}

.forgot{color:#fff;}
.regist{color:#006699;font-size:12px;font-weight:bold;}
#realm-title{
	color: #57AD73;
    font-size: 16px;
    font-weight: bold;

	margin-left:10px;
	}
#realm-title-icon{
		height:19px;
	}
.realm-status{color:#009933;font-size:16px;font-weight:bold;}

#logon{
    width: 246px;
    height: 24px;
    font-size: 14px;
    background: #181818;
    float: left;
    margin-top: 4px;
	}
#logon:hover{
background: #383838;
}
#logon-rmname{
    width: 246px;
    /* height: 24px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    background: #181818;
    float: left;
    margin-top: 4px;
    margin-bottom: 10px;
    text-align: center;
	}
#logon-rmname:hover{
background: #383838;
}
.logontype{ 
	height:24px;
	width:110px;
	padding:5px;
	float:left;
	margin-left:-1px;
	margin-top:-1px;
	color:#33CC66;
	}
.logontext{ 
	margin-right:5px;
	margin-top:5px;
	}

.boxinf{color:#CCFFFF;font-size:12px;font-weight:normal;}

#mainstatusbox{
	width:80px;
	height: 80px;
	float:left;
    background: #181818;
	text-align:center;
	}
#mainstatusbox:hover{
background: #383838;
}
#mainstatusbox-sec{
	width:80px;
	height:80px;
	float:left;
	margin-left: 1px;
	background:#181818;
	text-align:center;
	}
#mainstatusbox-sec:hover{
background: #383838;
}
.mainstatusicon{
	border-radius: 15px;
	margin-top:2px;
	margin-bottom: 2px;
}
.mainstatustext{
	font-size: 19px;
    color: #578C84;
	margin-bottom:2px;
}

.mainstatus-divider{
width: 100%;
height: 1px;
background: #1F1F1F;
}
.connectionguide{border-radius:3px;width:280px;height:60px;background:url("../images/conguide.jpg");margin-bottom:5px;box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000; border: 1px solid #383838;}
.connectionguide:hover{background:url("../images/conguide.jpg") 0 -60px;cursor:pointer;}
.dpatches{border-radius:3px;width:280px;height:60px;background:url("../images/DPATCHES.jpg");margin-bottom:5px;box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000; border: 1px solid #383838;}
.dpatches:hover{background:url("../images/DPATCHES.jpg") 0 -60px;cursor:pointer;}
.rmlist{
    border-radius: 3px;
    width: 260px;
    height: 20px;
    background: url("../images/rmlist.jpg");
    margin-bottom: 5px;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    padding: 10px;
    text-align: center;
    color:#8FBD9E;
font-size:16px;}
.acclogin-info{
    width: 280px;
    background: #202020 url("../images/hoverblack.png");
    margin: auto;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 3px;
    height: 240px;
}
.acclogin-info-head-text{
    overflow: hidden;
    color: #A1E8B9;
    /* height: 150px; */
    font-size: 16px;
    text-shadow: 3px 3px 8px #000;
    padding: 10px;
    background: #212121 url("../images/newsheader.png");
    text-align: center;
}
.realmstat{border-radius: 3px;
    width: 250px;
    height: 90px;
    background: url("../images/realmstatus.jpg");
    margin-bottom: 5px;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    padding: 15px;}
.realmstat:hover{background:url("../images/realmstatus.jpg") 0 -120px;cursor:pointer;}
.gversion{
    display: inline-block;
    vertical-align:top;
}
.realmname{
    display: inline-block;
    vertical-align: top;
    color: #59FF95;
    text-shadow:2px 2px 10px black;
    margin-left: 15px;
    font-size:18px;
    margin-bottom:60px;
}
.realmnamelink {
    color: #B5DEC4;
}
.accnamelink {
    color: #B5DEC4;
}
.accnamelink:hover {
    color: #00FF5D;
}
.realminfo{
    display: inline-block;
    vertical-align:top;
    width:100%;
    color: #A2B5A4;
    text-shadow:2px 2px 10px black;
    text-align:center;
}

.pvp-title-box{
width: 95%;
height: 17px;
background: #181818;
display: inline-block;
vertical-align:top;
margin-top:10px;
padding: 5px;
color:#33CC66;
font-size:13px;
text-align:center;
margin-bottom:2px;
}
#notify {
    width: 790px;
    height: 20px;
    margin: auto;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border-radius: 4px;
    background: url("../images/errbg.jpg");
    text-align: center;
    color: #DEACAC;
    padding: 5px;
    margin-bottom:5px;
}
.pvp-ladder-box{
width: 95%;
height: 17px;
background: #181818;
display: inline-block;
vertical-align:top;

margin-top:-1px;
padding: 5px;
color:#a3620a;
font-size:13px;
}

.pvp-ladder-box:hover{
background: #383838;
}

#content-right{
 width: 700px;
 margin-left:16px;
 display: inline-block;
 vertical-align:top;
}
.right-news{
 width: 670px;
 background: #202020 ;
 margin:auto;
 padding: 15px;
 box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000; 
 border: 1px solid #383838;
 margin-bottom: 15px;
 }

 .right-news-title{
 color:#a3620a;
 font-size:24px;
 font-weight:bold;
 }
 .news-content{
 color:#b0b0b0;
 font-size:12px;
 margin-top: 15px;
 margin-bottom:15px;
 }
#footer{
    position: relative;
    width: 1000px;
    height: 150px;
    margin: 30px auto;
    background: url("../images/footerbg.jpg");
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    border-radius: 3px;
}
#copyright{
    width: 800px;
    padding: 10px;
    text-shadow:2px 2px 10px black;
    text-align: center;
    margin: auto;
    font-size: 14px;
    color: #B5DEB2;
}
#footer-creds{
 width: 300px;
 height: 40px;
 text-align: center;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
    background: url('../images/gamingzetalogo.png') 0 -40px;
    -webkit-transition: background 100ms ease-out 300ms;
    -moz-transition: background 100ms ease-out 300ms;
    -o-transition: background 100ms ease-out 300ms;
    transition: background 100ms ease-out 300ms;
}
#footer-creds:hover{
    background: url('../images/gamingzetalogo.png');
}
#footer-right{
    width: 800px;
    padding: 10px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #739072;
    margin-bottom: 25px;
}
#footer-right a:link 		{color:#97DEA5;  font-size:16px; text-shadow:2px 2px 10px black;}
#footer-right a:visited 	{color:#97DEA5;  font-size:16px; text-shadow:2px 2px 10px black;}
#footer-right a:hover 		{color:#ffffff;  font-size:16px; text-shadow:2px 2px 10px black;}
#footer-right a:active 	    {color:#97DEA5;  font-size:16px; text-shadow:2px 2px 10px black;}

#user-box{
    margin: auto;
    padding: 15px;
    width: 940px;
    border: 1px solid #272626;
    background: #171616;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #b0b0b0;
    border-radius: 5px;
}

.user-msg-title{
  border: 1px solid #383838;
  width: 99%;
  height: 30px;
  padding: 5px;
  background: #101010;
  margin-top: 4px;
  text-align: left;
  color: #a3620a;}

.user-msg-body{
  border: 1px solid #383838;
  width: 930px;
  max-width: 930px;
  height: 300px;
  max-height: 600px;
  padding: 15px;
  background: #101010;
  margin-top: 4px;
  text-align: left;
  color: #a3620a;}

#user-submit{
    border: 1px solid #383838;
    width: 248px;
    height: 35px;
    background: url("../images/submit.png");
    margin-top: 4px;
    color: #6CA29B;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0px 3px 8px #000;
    margin-bottom: 15px;
    margin-left: 20px;
}
#user-submit:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}

.user-alts-part{
    width: 260px;
    background: #202020;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    margin-left: 41px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
 }
 .user-alts-info{
    width: 260px;
    margin: auto;
    padding: 15px;
    margin-left: -6px;
    margin-top: -8px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
    color: #808080;
 }
.user-tools{
border: 1px solid #383838;
width: 250px;
height: 20px;
background: #101010;
text-align:center;
padding:5px;
margin-top: 2px;
display: inline-block;vertical-align:top;
color: #b0b0b0;
}
.user-tools:hover{
background: #383838;
cursor: pointer;
}
.charnameinput{
border: 1px solid #383838;
width: 180px;
height: 20px;
background: #101010;
text-align:center;
padding:5px;
margin-top: 2px;
display: inline-block;vertical-align:top;
color: #b0b0b0;
}

#unstuck{
display: none;
}

#charnamesubmit{
border: 1px solid #006699;
width: 50px;
height: 30px;
background: #003399;
margin-top:4px;
margin-bottom: 10px;
color: #fff;
}
#charnamesubmit:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}
.reg-input{
    border: 1px solid #383838;
    width: 280px;
    height: 30px;
    background: rgba(32, 32, 32, 0.38);
    text-align: center;
    color: #b0b0b0;
    float: left;
    margin-left: 4px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.reg-input::-webkit-input-placeholder 		{color: #383838;}
.reg-input:-moz-placeholder 					{color: #383838;}
.reg-input::-moz-placeholder 				{color: #383838;}
.reg-input:-ms-input-placeholder 			{color: #383838;}
.reg-input-small::-webkit-input-placeholder 	{color: #383838;}
.reg-input-small:-moz-placeholder 			{color: #383838;}
.reg-input-small::-moz-placeholder 			{color: #383838;}
.reg-input-small:-ms-input-placeholder 		{color: #383838;}
.reg-input-small{
    border: 1px solid #383838;
    width: 170px;
    height: 30px;
    background: rgba(32, 32, 32, 0.38);
    text-align: center;
    color: #b0b0b0;
    margin-left: 4px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.reg-mark{
  width: 290px;
  height: 20px;
  padding: 5px;
  background: #1F1C1C;
  margin-top: 4px;
  text-align: center;
  border: 1px solid #00CC66;
  display: inline-block;
  vertical-align: top;
  color: #009966;
}
.reg-input-question{
    border: 1px solid #00CC66;
    width: 90px;
    padding: 8px;
    font-size: 13px;
    background: #009966;
    text-align: left;
    color: #000;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.reg-alts-part{
    width: 300px;
    margin:auto;
    margin-left: 19px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align:top;
 }
.reg-alts-part-sec{
    width: 540px;
    margin:auto;
    margin-bottom: 25px;
    display: inline-block;
    vertical-align:top;
 }
  .reg-left-block{
 width: 540px;
 margin:auto;
 margin-left: 19px;
 margin-bottom: 5px;
 display: inline-block;vertical-align:top;
 }
 #errors-box{
 width: 99%;
 background: #282828 ;
 margin:auto;
 padding: 5px;
 border: 1px solid #383838;
 margin-bottom: 15px;
 margin-top: 15px;
 display: inline-block;
 vertical-align:top;
}
.error-root-info{
  width: 948px;
  padding: 5px;
  box-shadow: 3px 3px 60px #66CC66 inset, 0px 3px 8px #000;
  border: 1px solid #66FF66;
  background: #669966;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 8px;
}
.error-root-info .error-title{
 width: 700px;
 text-align: left;
 display: inline-block;vertical-align:top;
 color:#003300;
 font-size:14px;
 font-weight:bold;
}
.error-root-info .error-type{
 width: 245px;
 text-align: right;
 display: inline-block;vertical-align:top;
 color:#003300;
 font-size:14px;
 font-weight:bold;
}
.error-root-info .error-description{
 display: inline-block;vertical-align:top;
 font-size:14px;
 font-weight:normal;
 color:#003300;
 text-align:center;
}

.error-root-warning{
  width: 948px;
  padding: 5px;
  box-shadow: 3px 3px 60px #669900 inset, 0px 3px 8px #000;
  border: 1px solid #CCff33;
  background: #99CC00;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 8px;
}
.error-root-warning .error-title{
 width: 700px;
 text-align: left;
 display: inline-block;vertical-align:top;
 color:#4C4C05;
 font-size:14px;
 font-weight:bold;
}
.error-root-warning .error-type{
 width: 245px;
 text-align: right;
 display: inline-block;vertical-align:top;
 color:#4C4C05;
 font-size:14px;
 font-weight:bold;
}
.error-root-warning .error-description{
 display: inline-block;vertical-align:top;
 font-size:14px;
 font-weight:normal;
 color:#4C4C05;
 text-align:center;
}

.error-root-fatal{
  width: 948px;
  padding: 5px;
  box-shadow: 3px 3px 60px #990000 inset, 0px 3px 8px #000;
  border: 1px solid #FF0000;
  background: #800000 ;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 8px;
}
.error-root-fatal .error-title{
 width: 700px;
 text-align: left;
 display: inline-block;vertical-align:top;
 color:#D5060E;
 font-size:14px;
 font-weight:bold;
}
.error-root-fatal .error-type{
 width: 245px;
 text-align: right;
 display: inline-block;vertical-align:top;
 color:#D5060E;
 font-size:14px;
 font-weight:bold;
}
.error-root-fatal .error-description{
 display: inline-block;vertical-align:top;
 font-size:14px;
 font-weight:normal;
 color:#D5060E;
 text-align:center;
}
#nothing-to-see-here{
width:1000px;
height:400px;
margin: auto;
background: #202020 url(../images/nsh.png);
border: 1px solid #383838;
}
#loginbox {
  width: 250px;
  background: #202020;
  margin: auto;
  padding: 15px;
  background: #202020;
  box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
  border: 1px solid #383838;
  margin-bottom: 15px;
  margin-top: 25px;
 }
 .loggedas {
     margin: auto;
     padding: 15px;
     color: #b0b0b0;
 }
 .logmaininfo{
	margin-left: -10px;
    margin-top: -10px;
    width: 265px;
    height: 50px;
    border: 1px solid #383838;
    background: rgba(0,0,0,0.3);
    box-shadow: 0px 3px 8px #000;
    overflow: hidden;
  }
 .avatar{width:48px;height:48px;border: 1px solid #006699;float:left;}
 .avatar-name{margin-top:5px;margin-left:5px;height:32px;float:left;font-size:32px;}
 
  #inforow{
	margin-left: -10px;
    margin-top: 5px;
    width: 265px;
    height: 22px;
    overflow: hidden;
  }
 .inforowdesc {
     height: 22px;
     margin-left:10px;
     float: left;
    color:#84BD94;}
 .inforowdesc:hover{cursor:pointer;}
 .inforowresult{    color: #83AB5F;
     /* margin-top: 6px; */
     /* margin-right: 10px; */
     height: 22px;
     float: right;
     font-size: 16px;}
 
.logged-menu{
border: 1px solid #006699;
height: 25px;
background: #003399;
margin: auto;
margin-top:3px;
margin-bottom: 3px;
padding-top:5px;
padding-left: 15px;
color: #fff;
box-shadow: 0px 3px 8px #000; 
}
.logged-menu:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}
.news-header {
  width: 600px;
  height: 150px;
  background: #202020;
  margin: auto;
  background: #202020;
  box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
  border: 1px solid #383838;
  margin-bottom: 15px;
  margin-top: 25px;
 }
.news-info{
 border: 1px solid #383838;
 background: #101010;
 padding:3px;
 display: inline-block;vertical-align:top;
 color: #b0b0b0;
 }
.news-button{
border: 1px solid #006699;
background: #003399;
margin-top:4px;
margin-bottom: 10px;
text-align: center;
color: #fff;
}
.news-button:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}

#send-comm{
    border: 1px solid #444644;
    width: 187px;
    height: 50px;
    padding: 5px;
    background: url("../images/button.png");
    /* margin-left: 10px; */
    margin-top: 4px;
    margin-bottom: 5px;
    text-align: center;
    color: #6aa29a;
    float: right;
    margin-right: 18px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 8px #000;
    text-shadow: 0px 3px 8px #000;
}
#send-comm:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
 cursor:pointer;
}
.counter{
    width: 169px;
    background: rgba(0,0,0,0.3);
    margin: auto;
    padding: 3px;
    box-shadow: 0px 3px 8px #000;
    border: 1px solid #383838;
    margin-top: 25px;
    color: #fff;
    text-align: center;
    float: left;
    margin-left: 10px;
}
#counter{
background-color: transparent;
border: 0px solid;
color: #339900;
}

#chartdiv {
  width: 500px;
  min-height: 230px;
  background: rgba(0,0,0,0.3);
  margin: auto;
  box-shadow: 0px 3px 8px #000;
  border: 1px solid #383838;
  padding: 15px;
  margin-top: 25px;
  color: #fff;
}	

#factionbar{
width: 250px;
height:30px;
border: 1px solid #383838;
background: #101010;
margin-top: 4px;
text-align: center;
color: #b0b0b0;
float:left;
box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
}

#rules-body{
    margin: auto;
    padding: 15px;
    width: 940px;
    border: 1px solid #272626;
    background: #171616;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #b0b0b0;
    border-radius: 5px;
}
#rules-body .title{
    margin: auto;
    margin-bottom: 35px;
    margin-top: 10px;
    color: #7CBD5D;
    min-height: 32px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}
.votean-body {
    text-align: left;
    color: #00CC66;
    font-size: 14px;
}

.voteandate{
color: #a3620a;font-size: 13px;
}

#guides-body{
    margin: auto;
    padding: 15px;
    width: 940px;
    border: 1px solid #272626;
    background: #171616;
    margin-top: 15px;
    color: #b0b0b0;
    border-radius: 5px;
}
#guides-body a:link 		{color:#97DEA5;  font-size:14px; text-shadow:2px 2px 10px black;}
#guides-body a:visited 	    {color:#97DEA5;  font-size:14px; text-shadow:2px 2px 10px black;}
#guides-body a:hover 		{color:#ffffff;  font-size:14px; text-shadow:2px 2px 10px black;}
#guides-body a:active 	    {color:#97DEA5;  font-size:14px; text-shadow:2px 2px 10px black;}
#guides-body ul li{
    margin-left: 5px;
}
#guides-body .categorybox .title{
    font-weight: bold;
    color: #c0c0c0;
}
#guides-body .categorybox{
    width:310px;
    display:inline-block;
}
#guide-body{
    margin: auto;
    padding: 15px;
    width: 940px;
    border: 1px solid #272626;
    background: #171616;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #b0b0b0;
    border-radius: 5px;
}
.guide-thumb{
    display: inline-block;
    vertical-align: top;
    width: 195px;
    padding: 15px;
    border: 1px solid #383838;
    margin-top: 4px;
    font-size: 14px;
    margin-left: 5px;
    text-align: center;
    background: #3A8017;
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
    color: #78FF00;
}
.guide-thumb:hover {
    box-shadow: 3px 3px 60px #598842 , 0px 3px 8px #000;
}
.guide-thumb-active{
    display: inline-block;
    vertical-align: top;
    width: 195px;
    padding: 15px;
    border: 1px solid #383838;
    margin-top: 4px;
    font-size: 14px;
    margin-left: 5px;
    text-align: center;
    background: #3A8017;
    box-shadow: 3px 3px 60px #598842 , 0px 3px 8px #000;
    color: #78FF00;
}
.guides-paragraph{color:#99E8B4;}
.guides-pindep{font-weight:bold;color:#00FDFF;}
#guide-main-description{display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: 920px;
    margin-top: 4px;
    color: #b0b0b0;
    font-size: 14px;
}

#guide-sec-thumb{display: inline-block;vertical-align:top;
display: inline-block;
    vertical-align: top;
    width: 370px;
    margin-left: 30px;
    border: 1px solid #383838;
    background: #101010;
    margin-top: 4px;
    color: #b0b0b0;
    font-size: 14px;
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;}

#guide-main-body{display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: 905px;
    border: 1px solid #383838;
    background: #101010;
    margin-top: 4px;
    color: #b0b0b0;
    font-size: 14px;
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;}

.write-bugg{
  width: 910px;
  height: 150px;
  max-width: 910px;
  max-height: 400px;
  background: rgba(0,0,0,0.3);
  margin: auto;
  box-shadow: 0px 3px 8px #000;
  border: 1px solid #383838;
  padding: 15px;
  margin-top: 25px;
  margin-bottom:4px;
  color: #fff;
}
#send-bugg{
    border: 1px solid #383838;
    width: 200px;
    padding: 5px;
    height: 28px;
    margin-top: -1px;
    background: #282828;
    margin-bottom: 5px;
    margin-left: 307px;
    text-align: center;
    color: #fff;
    float: left;
}
#send-bugg:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}
.bugg-counter{
    width: 425px;
    max-width: 425px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    margin: auto;
    padding: 3px;
    box-shadow: 0px 3px 8px #000;
    border: 1px solid #383838;
    margin-bottom: 5px;
    margin-top: -1px;
    color: #fff;
    text-align: center;
    float: left;
}
#bugg-counter{
background-color: transparent;
border: 0px solid;
color: #339900;
}

.bugerr{
  border: 1px solid #006600;
  width: 928px;
  height:15px;
  padding: 5px;
  background: #009933;
  margin-top: 4px;
  margin-bottom: 5px;
  text-align: center;
  color: #fff;
  float:left;
}
.bugerr:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}

.bugerr-1{
  border: 1px solid #990000;
  width: 928px;
  height:15px;
  padding: 5px;
  background: #CC0033;
  margin-top: 2px;
  margin-bottom: 5px;
  text-align: center;
  color: #fff;
  float:left;
}
.bugerr-1:hover{
 box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
 cursor:pointer;
}
 
   .changelog-tr{
 display: inline-block;
 vertical-align: top;
 background: rgba(0,0,0,0.7);
 margin: auto;
 margin-bottom: -1px;
 box-shadow: 3px 3px 60px #282828 inset;
 border: 1px solid #383838;
 }
 .changelog-tr:hover{ background: rgba(0,0,0,0.3);}

  #lastnews{
      display: inline-block;
      vertical-align: top;
      width: 690px;
      margin: auto;
      margin-bottom: 15px;
      /* padding: 10px; */
      box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
      border: 1px solid #383838;
      border-radius: 3px;
      background:#202020 url("../images/newsbghover.jpg");
 }
  .lastnews-head-text{
      overflow: hidden;
      color: #A1E8B9;
      min-height: 18px;
      font-size: 20px;
      text-shadow: 3px 3px 8px #000;
      padding: 10px;
      background: #212121 url("../images/newsheader.png");
      border-radius: 3px;
  }
.lastnews-head-text-nobg{
    overflow: hidden;
    color: #A1E8B9;
    min-height: 18px;
    font-size: 20px;
    text-shadow: 3px 3px 8px #000;
    padding: 10px;
    border-radius: 3px;
}

.lastnews{width:100%;height:55px;display: inline-block;vertical-align: top;}
.lastnews-left{width:500px;display: inline-block;vertical-align: top;padding-left:10px;margin-top:-10px;}
.lastnews-left-title{color:#84BD99;font-size:14px;text-shadow: 3px 3px 8px #000;}
.lastnews-right{width:170px;display: inline-block;vertical-align: top;text-align:right;}
.lastnews-right-text{color:#A3620A;font-size:14px;text-shadow: 3px 3px 8px #000;}
.lastnews-right-text:hover {color:#ffffff;font-size:14px;text-shadow: 3px 3px 8px #000;}
.readmorelow{
    border: 1px solid #003333;

    float: left;
    padding: 2px;
    background: #5B7564;
    color: #fff !important;
    text-align: center;
    display: inline-block;vertical-align: top;
}
.thb-leftlow{

    text-align: left;
    float: left;
    font-size:12px;
    padding-left: 10px;
}
.readmorelow:hover{
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
    cursor:pointer;
}
 .newsdivider{background:url('../images/newsdivider.png');width:100%;height:5px;margin-top:2px;margin-bottom:2px;display: inline-block;
     vertical-align: top;}
  .newsthumb{
      background: url("../images/newsthumb.jpg");
      overflow: hidden;
      height: 160px;
      width: 660px;
      box-shadow: 0px 3px 8px #000;
      color: #33CC66 !important;
      padding: 10px;
      margin: auto;
      margin-bottom: 15px;
  }
 .newsthumbicon{
     width:122px;
     height:130px;
     float:left;
     box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
 }
 .newsthumbicon:hover{cursor:pointer;}
 .newsthumbbody{
     height: 130px;
     float: left;
     width: 500px;
     margin-left: 35px;
     border-radius: 3px;
     background: url("../images/hoverblack.png");}
 .newsthumbresult{
     height: 96px;
     float: left;
     margin-left: 10px;
     font-size: 16px;
     margin-top: 6px;
     font-size: 14px !important;
     color: #94B59F !important;
     height: 77px;
	 }
 .newsthumbtitle{
	height:24px;
	text-align:center;
	color:#26CC66 !important;
	font-size:18px;
    width: 100%;
 }
 .brokenhover{width:100%;height:2px;background:url("../images/broken-hover.png");display: inline-block;  vertical-align: top;}

 .newsthumbbutton{
    float: left;
    height: 30px;
    width: 100%;
 }
 .thb-left{
     width: 325px;
     text-align: left;
     float: left;
     font-size: 12px;
     padding-left: 5px;
 }
 .thb-right{
     width: 60px;
     text-align: right;
     float: right;
     margin-right: 15px;
 }
 .readmore{
	border: 1px solid #003333;
    padding: 5px;
    background: #346544;
    margin-top: 4px;
    color: #fff !important;
    text-align: center;
 }
 .readmore:hover{
	box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000; 
	cursor:pointer;
 }

 .newsthumbdate{float:left;font-size:16px;margin-top:6px;}
 
#mediabox{
    display: inline-block;
    vertical-align: top;
    width: 368px;
    background: #202020;
    /* margin: auto; */
    margin-bottom: 15px;
    /* padding: 10px; */
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    border-radius: 3px;
 }
.mediabox-head-text{
    overflow: hidden;
    color: #A1E8B9;
    min-height: 18px;
    font-size: 20px;
    text-shadow: 3px 3px 8px #000;
    padding: 10px;
    background: #212121 url("../images/newsheader.png");
    text-align: center;
}
.media-thumb{width:50px;height:50px;border-radius:5px;border: 1px solid #a3620a;display: inline-block;
    vertical-align: top;cursor:pointer;}
.media-line{padding:5px;background: rgba(0,0,0,0.5);border-radius:3px;}
.milestone-line{padding:5px;background: rgba(0,0,0,0.5);border-radius:3px;color:#009933;margin-top:15px;font-size:12px;}
#secondary-box{
    display: inline-block;
    vertical-align: top;
    width: 288px;
    background: #202020;
    /* margin: auto; */
    margin-bottom: 15px;
    /* padding: 10px; */
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border: 1px solid #383838;
    border-radius: 3px;
    margin-left: 26px;
}
 #news-body{
display: inline-block;vertical-align:top;
padding: 15px;
width: 940px;
border: 1px solid #383838;
background: #101010;
margin-top: 4px;
color: #b0b0b0;
font-size: 14px;
box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
}
 #comments {

     min-height: 50px;
     width: 1000px;
     margin-top: 15px;
     float: left;
 }

 .comment-line{width:970px;margin-top:10px;float:left;} 
 .comment-line-right{width:970px;margin-top:10px;float:left;margin-left:52px;}
 .comm-arrow-right{background: url(../images/icons/carrow-right.png);width:32px;height:32px;float:left;margin-left:-2px;z-index:900;position:relative;margin-top:10px;}
 .comm-arrow{background: url(../images/icons/carrow.png);width:32px;height:32px;float:left;margin-right:-2px;z-index:900;position:relative;margin-top:10px;}
 .n-comment-body{color:#92B58F;float:left;width:780px;min-height:32px;border-radius:15px;border: 1px solid #383838;background: #101010;box-shadow:0px 3px 8px #000;padding:10px;}
 .news-avatar{    float: left;
    width: 48px;
    height: 48px;
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;}
 .comm-divider{
	background:#383838;
	height:1px;
	width:300px;
	float:left;
	margin:auto;}
	
 #comm-paging{
	width:955px;
	height:40px;
	display: inline-block;vertical-align:top;
	text-align:center;
	margin-top: 30px;
  }
 .compgn{
	color:#000000;
	display: table;vertical-align:top;
	margin: 0 auto;
	text-align:center;
 }
.compgn a:link 		{color:#58A06C;text-decoration: none;}
.compgn a:visited 	{color:#58A06C;text-decoration: none;}
.compgn a:hover 		{color:#00FD44;text-decoration: none;}
.compgn a:active       	{color:#58A06C;text-decoration: none;}

.user-character-box{
    width: 170px;
    margin-left: 7px;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid #383838;
    background: #181818;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.user-character-box a:link 		{color:#a3620a;  text-shadow:5px 5px 10px black;}
.user-character-box a:visited 	{color:#a3620a;  text-shadow:5px 5px 10px black;}
.user-character-box a:hover 		{color:#FF9900;  text-shadow:5px 5px 10px black;}
.user-character-box a:active       {color:#a3620a;  text-shadow:5px 5px 10px black;}


.userbox-link{
    border: 1px solid #383838;
    width: 160px;
    height: 20px;
    background: url("../images/submit.png");
    color: #6CA29B;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0px 3px 8px #000;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    font-size: 12px;
}
.userbox-link:hover{
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
    cursor:pointer;
}

.userbox-button{
    border: 1px solid #383838;
    width: 250px;
    height: 25px;
    background: url("../images/submit.png");
    color: #6CA29B;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0px 3px 8px #000;
    padding-top: 7px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
.userbox-button:hover{
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
    cursor:pointer;
}
#userbox-left{
    width: 650px;
    display: inline-block;
    vertical-align: top;
    background: #181818;
    color: #6CA29B;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #383838;
}
#userbox-big{
    width: 948px;
    background: #181818;
    color: #6CA29B;
    padding: 10px;
    border: 1px solid #383838;
    margin: auto;
    margin-top: 15px;
    display:none;
}
#userbox-right{
    width: 260px;
    display: inline-block;
    vertical-align: top;
    background: #181818;
    color: #6CA29B;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #383838;
    text-align: center;
}

.user-box-avatar{
    width:122px;
    height:130px;
    border-radius:3px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #383838;
}
.user-box-info{
    display: inline-block;
    vertical-align: top;
    margin-left:15px;
}
.userbox-info-line{
    margin-bottom:3px;
}
.user-box-characters{
    width:700px;
    color:#6AA29A;
    display: inline-block;
    vertical-align: top;
}
.userbox-line-light{
    text-align:left;
    display: inline-block;
    vertical-align: top;
    color:#A1E8B9;
}
.userbox-line-light-left{
    width:150px;
    text-align:left;
    display: inline-block;
    vertical-align: top;
}

.important-question{
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    color: #a3620a;
    width: 970px;
    margin-bottom:5px;
}
.question-description{
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    color:#B8CA9E;
    width: 970px;
    margin-bottom:10px;
}
.answer-low{
    border: 1px solid #383838;
    width: 400px;
    height: 20px;
    background: rgba(32, 32, 32, 0.38);
    text-align: center;
    color: #b0b0b0;
    border-radius: 2px;
    margin-bottom: 10px;
}
.answer-big{
    border: 1px solid #383838;
    width: 600px;
    height: 80px;
    resize: none;
    background: rgba(32, 32, 32, 0.38);
    text-align: left;
    color: #b0b0b0;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}
.answer-line{width: 970px;}
#post-apply{
    border: 1px solid #444644;
    width: 187px;
    height: 50px;
    padding: 5px;
    background: url("../images/button.png");
    margin-top: 4px;
    margin-bottom: 5px;
    text-align: center;
    color: #6aa29a;
    margin-right: 18px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 8px #000;
    text-shadow: 0px 3px 8px #000;
}
#post-apply:hover{
    box-shadow: 3px 3px 60px #101010 inset, 0px 3px 8px #000;
    cursor:pointer;
}

.disclaimer {
    width: 800px;
    height: 100px;
    resize: none;
    background: rgba(144, 144, 144, 0.11);
    border-radius: 2px;
    margin: auto;
    margin-bottom: 10px;
    color: #CCDBF9;
    padding: 15px;
}
.disclaimer .line {width:100%;}
.avatarlist{
    width: 122px;
    height: 130px;
    font-size: 0;
    border: 1px solid #b0b0b0;
    margin-left: 5px;
    margin-bottom: 8px;
}
.gmalert{width: 790px;
    height: 20px;
    margin: auto;
    box-shadow: 3px 3px 60px #282828 inset, 0px 3px 8px #000;
    border-radius: 4px;
    background: url('../images/errbg.jpg');
    text-align: center;
    color: #DEACAC;
    padding: 5px;
    margin-bottom:5px;}

.ticket-line{
    width: 300px;
    border: 1px solid rgba(144, 144, 144, 0.49);
    display:inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 9px;
}
.ticket-list-title{
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 20px;
    color: #8BBF3B;
    text-align: left;
    float: left;
}
.ticket-list-item{
    color: #25b5bf;
}
.ticket-message{
    width: 280px;
    height: 150px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(144, 144, 144, 0.49);
}
.ticket-info{
    width:100%;
    height:100px;
    text-align: left;
    background: rgba(144, 144, 144, 0.11);
}
.gm-tools-list{
    text-align: center;
}
